@keyframes fading {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 940px) {
  .personalProjects {
    grid-template-columns: repeat(3, 1fr);
  }
  .workExperience {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 640px) {
  .skillSection {
    grid-template-columns: 1fr;
  }
  .personalProjects {
    grid-template-columns: repeat(2, 1fr);
  }
  .workExperience {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .personalProjects {
    grid-template-columns: 1fr;
  }
  .workExperience {
    grid-template-columns: 1fr;
  }
}
