*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 246, 220);
  font-family: "Open Sans", sans-serif;
  color: rgb(34, 34, 34);
  font-size: 16px;
}
input,
button {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.3s;
  font-family: "Open Sans", sans-serif;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(34, 34, 34);
  transition-duration: 0.4s;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
hr {
  border-top: none;
  border-bottom: 2px dashed rgb(183, 209, 201);
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 20px;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
}
h3 {
  font-size: 18px;
  text-align: center;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 12px;
}
.centering {
  text-align: center;
}
.section {
  margin: 40px 0;
}
#container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(41, 64, 107);
  padding: 0 10px;
  height: 80px;
}
.headerLogo {
  max-width: 80px;
}
.languages a {
  color: rgb(168, 168, 168);
}
.languages a:hover {
  color: rgb(159, 181, 192);
}
.tooltip {
  position: relative;
}
.tooltip .tooltipText {
  visibility: hidden;
  background-color: rgb(161, 0, 0);
  color: rgb(219, 210, 210);
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  top: -60px;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 3;
}
.tooltip:hover .tooltipText {
  visibility: visible;
}

nav {
  background-color: rgb(112, 131, 125);
  text-transform: uppercase;
  padding: 0 10px;
  z-index: 5;
}
nav a {
  color: rgb(255, 251, 239);
  padding: 8px 12px;
  display: block;
  transition-duration: 0.6s;
}
nav a:hover {
  color: rgb(76, 67, 128);
  background-color: rgb(151, 185, 174);
  border-radius: 5px;
}
nav a:active {
  color: rgb(38, 34, 59);
  background-color: rgb(211, 243, 253);
}
.dropdown-content {
  position: absolute;
  visibility: hidden;
  min-width: 100px;
  background-color: rgb(72, 85, 81);
  box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  z-index: -1;
  transform: translateY(-30px);
  transition: all 0.3s ease-in-out, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}
.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 10;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.1s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 34px;
}

.slideShow {
  background-color: rgb(39, 35, 49);
  padding: 20px 0 5px 0;
  overflow-x: hidden;
}
.slideHero {
  margin: auto;
  max-width: 1000px;
  position: relative;
}
.hide {
  display: none;
}
.slideNumber {
  position: absolute;
  top: 0;
  font-size: 13px;
  color: rgb(255, 255, 255, 0.5);
  text-shadow: 1px 1px 1px black;
  padding: 7px 15px;
}
.slideButton {
  position: absolute;
  margin-top: -31px;
  top: 50%;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  cursor: pointer;
  transition-duration: 0.3s;
}
.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.slideButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.slideTab {
  position: absolute;
  bottom: 10px;
  color: whitesmoke;
  padding: 7px 15px;
  font-size: 13px;
  background-color: rgba(175, 10, 73, 0.6);
  border-radius: 0 15px 15px 0;
  transition-duration: 0.6s;
  cursor: pointer;
}
.slideTab:hover {
  background-color: rgba(129, 218, 189, 0.6);
  padding-left: 40px;
}

.slideCaption {
  height: 36px;
  text-align: center;
  color: rgb(208, 225, 236);
  font-size: 12px;
  padding: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Inconsolata", monospace;
}
.slideList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1600px;
  margin: 0 auto;
  cursor: pointer;
}
.slideThumb {
  opacity: 0.4;
  transition-duration: 0.6s;
}
.active,
.slideThumb:hover {
  opacity: 1;
}

.intro {
  background-color: rgb(24, 27, 53);
  color: rgb(219, 219, 219);
  padding: 30px;
}

.aboutTop:hover .helenxfu {
  animation: heartbeat 1s infinite;
}
.myPhoto {
  border: 2px solid rgb(68, 94, 87);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background-color: cadetblue;
  transition: transform 1s;
}
.emphasis {
  text-transform: uppercase;
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}
.skillSection {
  margin: 20px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skillList {
  background-color: rgb(183, 209, 201);
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: -5px;
  margin: 5px;
  padding: 20px;
  background-size: cover;
}
.skillList:hover > .myPhoto {
  transform: scale(1.2);
}
.skillsetArt {
  background-image: url("../assets/index-banner/skillset-art.png");
  background-position: right top;
}
.skillsetCode {
  background-image: url("../assets/index-banner/skillset-code.png");
  background-position: left top;
}
.astrik {
  font-size: 10px;
}
.alignLeft {
  text-align: left;
  font-size: 10px;
}

.listCentering {
  display: flex;
  justify-content: space-between;
}
.skillList ul {
  flex-shrink: 2;
  text-align: left;
}
.skillList li {
  display: block;
}
.portfolio {
  margin-top: 30px;
}
.portfolio h3 {
  margin: 10px 0;
}
.experience {
  outline: 2px dashed rgb(255, 255, 255);
  outline-offset: -5px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7),
    rgb(183, 209, 201) 30%,
    rgb(255, 246, 220) 90%
  );
}
.experience h4 {
  color: rgb(255, 246, 220);
}
.experience > h5 {
  color: rgb(41, 64, 107);
  margin: 5px 0;
}
.experience > p {
  font-size: 13px;
  margin-top: 4px;
}

.personalProjects,
.workExperience {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 5px;
}
.workExperience {
  grid-template-columns: 1fr 3fr;
  cursor: pointer;
}

.portfolioWorks {
  position: relative;
  background: rgb(39, 35, 49);
  cursor: pointer;
}

.portfolioWorks > img {
  transition: opacity ease-out 0.8s;
  border: 10px solid rgb(112, 131, 125);
}
.portfolioWorks:hover > img {
  opacity: 0.3;
}
.cardTextContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cardText {
  color: rgb(255, 255, 255);
  margin: 15px;
  transition: all ease-out 0.8s;
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 30px);
  opacity: 0;
  text-shadow: 0 0 8px rgb(112, 131, 125);
}
.cardText::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.cardText .spacing {
  flex-grow: 1;
}
.cardText > h5 {
  color: rgb(191, 235, 222);
  font-size: 14px;
  margin-bottom: 3px;
}
.cardText > p {
  font-size: 12px;
  transition: 1s;
  color: white;
}
.linkContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 80px;
  margin: 5px auto;
}
.linkContainer a {
  background-color: rgb(112, 131, 125);
  border-radius: 50%;
}
.linkContainer a:hover {
  background-color: rgb(24, 27, 53);
}
.linkIcon {
  padding: 5px;
}
.githubIcon {
  padding: 2px;
}
.portfolioWorks:hover .cardText {
  opacity: 1;
}

.portfolioWorks::before,
.portfolioWorks::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 1;
  transition: transform ease-out 0.8s;
  z-index: 1;
  pointer-events: none;
}

.portfolioWorks::before {
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
  transform: scale(0, 1);
}

.portfolioWorks::after {
  border-left: 2px dashed white;
  border-right: 2px dashed white;
  transform: scale(1, 0);
}

.portfolioWorks:hover::before,
.portfolioWorks:hover::after {
  transform: scale(1, 1);
}

.contact {
  padding: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}
.contactButton {
  padding: 30px;
  font-size: 16px;
  background-color: rgba(175, 10, 73, 0.9);
  color: rgb(255, 255, 255);
  outline-offset: -5px;
  outline: 2px dashed rgb(255, 255, 255);
}
.contactButton:hover {
  background-color: rgba(129, 218, 189, 0.9);
}
.contactCat {
  position: absolute;
  width: 300px;
  top: 130px;
  z-index: -2;
  transition-duration: 1s;
}
.contactCatAnimate {
  animation: shake 1s linear infinite;
  animation-play-state: paused;
}
footer {
  padding: 10px;
  background-color: rgb(24, 27, 53);
  color: rgb(219, 219, 219);
  text-align: center;
}
.socialLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

.fade {
  animation: fading 1s;
}
