* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

a {
  text-decoration: none;
  color: rgb(184, 48, 116);
  cursor: pointer;
  transition-duration: 0.4s;
}

.subText {
  color: rgb(60, 64, 67);
}
.subText2 {
  color: rgb(119, 119, 119);
}
img {
  width: 100%;
}
input,
button {
  border: none;
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

button {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}
