* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(34, 34, 34);
}

a {
  text-decoration: none;
  color: rgb(184, 48, 116);
  cursor: pointer;
  transition-duration: 0.4s;
}

.subText {
  color: rgb(60, 64, 67);
}
.subText2 {
  color: rgb(119, 119, 119);
}
img {
  width: 100%;
}
input,
button {
  border: none;
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

button {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.3s;
}
