* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  color: rgb(34, 34, 34);
  height: 100vh;
  position: relative;
}
.bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("london.png");
  z-index: -10;
  height: 30%;
  position: fixed;
  top: 30%;
  left: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: rgb(201, 44, 78);
  cursor: crosshair;
  transition-duration: 0.4s;
  padding-right: 10px;
}

.subText {
  padding: 4px 0;
  font-family: "Cinzel", serif;
}
.subText2 {
  color: rgb(119, 119, 119);
}
img {
  width: 100%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-family: "Cinzel", serif;
}
input,
button {
  border: none;
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

button {
  cursor: crosshair;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

nav {
  font-size: 14px;
  padding: 10px 0;
}
.photoContainer {
  height: 100%;
  position: relative;
}
.photo {
  background-attachment: fixed;
  background-position: 70% top;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}
.p1 {
  background-image: url("../../assets/rosaline/1-0.png");
}
.pickupHeader {
  position: absolute;
  width: 100%;
  top: 40%;
  color: rgb(0, 0, 0);
  padding: 20px 0 0 10%;
}
.bandHeader {
  background-image: linear-gradient(
    110deg,
    rgba(255, 255, 255, 0.7) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 250px;
}
.pickup {
  position: absolute;
  width: 100%;
  top: 55%;
  color: rgb(255, 255, 255);
  padding: 10px 0 0 10%;
  text-shadow: 1px 1px 5px rgba(92, 25, 25, 0.6);
}
.band {
  background-image: linear-gradient(
    110deg,
    rgb(87, 13, 28) 5%,
    rgba(220, 20, 60) 10%,
    rgba(220, 20, 60, 0.301) 25%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 150px;
}
.mixups {
  padding-top: 15px;
}
.mix {
  width: 100px;
  height: 120px;
  object-fit: cover;
  background-color: rgba(172, 185, 212, 0.8);
  border: 2px ridge rgba(161, 80, 80, 0.4);
  cursor: crosshair;
}

footer {
  background-color: rgb(126, 3, 21);
  color: white;
  padding: 20px 0 10px 10%;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
footer a {
  color: rgb(233, 216, 236);
}
.socialLinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 110px;
  cursor: pointer;
  margin-bottom: 10px;
}
